footer{
  background-color: var(--color-5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--color-2);
  text-align: left;
  justify-content: space-around;
  min-width: 200px;
}

footer div{
  margin-top: 1rem;
}

.logo-footer{
  width: 18rem;
  height: 10rem;
  margin:auto;
}

.contact ul{
  display: grid;
}

.footer-icons ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}

.contact a{
  text-decoration: none;
  color: white;
  margin-top: 0.50rem;
}

.footer-information ul{
  display: flex;
  flex-direction: column;
}

.footer-information h2{
  margin-bottom: 0.5rem;
}

.footer-information a{
  text-decoration: none;
  color: var(--color-2)
}

.contact h2::after{
  content: "";
  display: block;
  max-width: 360px;
  height: 3px;
  background: white;
  margin-top: 13px;
}

.contact ul a:nth-child(2n):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 3px;
  background: white;
  margin-top: 16px;
}

@media (max-width: 1200px){
  .logo-footer{
    width: 13rem;
    height: 7rem;
  }
}