footer{
  background-color: var(--color-5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--color-2);
  text-align: left;
  justify-content: space-around;
  min-width: 200px;
}

footer div{
  margin-top: 1rem;
}

.logo-footer{
  width: 18rem;
  height: 10rem;
  margin:auto;
}

.contact ul{
  display: grid;
}

.contact a img{
  width: 16px;
  height: 16px;
  margin-right: 0.50rem;
}

.footer-icons ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}

.contact a{
  text-decoration: none;
  color: white;
  margin-top: 0.50rem;
}

.footer-information ul{
  display: flex;
  flex-direction: column;
}

.footer-information h2{
  margin-bottom: 0.5rem;
}

.footer-information a{
  text-decoration: none;
  color: var(--color-2)
}

.contact h2::after{
  content: "";
  display: block;
  max-width: 360px;
  height: 3px;
  background: white;
  margin-top: 13px;
}

.contact ul a:nth-child(2n):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 3px;
  background: white;
  margin-top: 16px;
}

@media (max-width: 1200px){
  .logo-footer{
    width: 13rem;
    height: 7rem;
  }
}

@media (max-width: 850px){
  footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0.9rem;
  }
}

@media (max-width: 650px){
  footer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.7rem;
  }
}


@media(max-width: 450px){
  .logo-footer{
    width: 11rem;
    height: 6rem;
  }
  footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.5rem;
  }
  .footer-information{
    text-align: left;
   }
   footer img{
    width: 34px;
    margin-right: 1px;
   }
   footer h2{
    font-size: 1.1rem;
   }
}

@media (max-width:370px) {
  footer{
    display: grid;
    grid-template-columns: 1fr;
  }
}