header{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0.75rem;
}

header img{
  width: 80%;
  height: 80%;
  margin-top: 1rem;
}

header nav{
  padding: 1rem 2rem;
  margin-top: 2rem;
}

header nav a{
  margin-right: 2rem;
  text-decoration: none;
  color: #082b6d; 
  font-size: 1.1rem;
  font: 500 1.25rem/0.75 'Poppins', sans-serif;

}