header{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}

header img{
  width: 10rem;
  height: 4rem;
  margin-top: 1rem;
  margin-left: 9.4rem;
}

header nav{
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-right: 9.4rem;
}

header nav a{
  margin-right: 2rem;
  text-decoration: none;
  color: var(--color-5); 
  font-size: 1.1rem;
  font: 500 1.25rem/0.75 'Poppins', sans-serif;
}

@media (max-width: 1050px){
  header nav{
    margin-right: 3rem;
  }
}
@media (max-width: 950px){
  header{
    display: grid;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  header img{
    margin: auto;
  }
  header nav{
    margin-right: 0px;
  }
  header nav a{
    padding: 0.50rem 0.60rem;
  }
}